
{% extends "DashBase.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load humanize %}




{% block content %}


  <div class="card">
    <div class="card-header">
      <h4>{% block title %} 
        {% for invoice in invoices %}
        Items a ser cotizados para el edificio: {{ invoice.Edificio}}
        {% endfor %}
        {% endblock %}</h4>
  <div class="card-tools">
    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
      <i class="fas fa-minus"></i>
    </button>
    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>


<div class="card-body">
      
  <div class="card-body p-0">
    <table class="table table-striped projects">
  <thead>
    <tr>
      <th>#</th>
      <th>Cotización</th>
      <th>Proyecto</th>
      <th>Sub total</th>
      <th>I.V.A: 12%</th>
      <th>Total </th>
      <th> Valor a pagar</th>
      <th>Fecha de validez</th>
    </tr>
  </thead>  
    <tbody>
        {% for invoice in invoices %} 
        <tr data-widget="expandable-table" aria-expanded="false" style="text-align:left;" >
          <td>{{ invoice.id }}</td> 
          <td>
          
            <a href="{{ invoice.get_absolute_url }}">
            {{ invoice.Codigo}}  </a>
       
          </td>
          <td>{{ invoice.coti }}</td>
          <td>{{ invoice.total|floatformat:"2" }}</td>
          <td>{{ invoice.total_tax|floatformat:"2" }} $</td>
          <td> {{ invoice.TOTAL|floatformat:"2" }} $ </td>
          <td style="color:rgb(248, 0, 0);"> {{ invoice.anticipo_tota_cost_tax|floatformat:"2" }} $</td>
          <td> {{ invoice.exp_date|date:" M d, Y" }}</td>
        </tr>
        
      </tbody>
      {% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}