{% extends "DashBase.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load humanize %}


{% block content %}

<section class="content">
  <div class="card">
    <div class="card-header">
      <h4>{% block title %} Detalle de Mantenimiento a Cotizar{% endblock %}</h4>
  <div class="card-tools">
    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
      <i class="fas fa-minus"></i>
    </button>
    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>

<div class="card-body">
  <div class="card-body p-0">

  <div class="product-detail">
    <h1>Cotización: {{ invoice.Codigo }}</h1>
    <h4>Ver:<a href="{{ invoice.category.get_absolute_url }}">Items</a></h4>
    <p class="price"><strong>Valor sub total:</strong>&nbsp; &nbsp; {{ invoice.total|floatformat:2}} $</p>
    <p class="price"><strong>I.V.A: 12% </strong>&nbsp; &nbsp;{{ invoice.total_tax|floatformat:2 }} $</p>
    <p class="price"><strong> Valor Total </strong>&nbsp; &nbsp;{{ invoice.TOTAL|floatformat:2  }} $</p>
    <p class="price"><strong>Valor de anticipo a pagar:</strong>&nbsp; &nbsp;{{ invoice.anticipo_tota_cost_tax|floatformat:2  }} $</p>
    <p class="price"><strong>Fecha de Creación:</strong>&nbsp; &nbsp;{{ invoice.created|date:"M d, Y"  }}</p>
    <p class="price"><strong>Fecha de expiración:</strong>&nbsp; &nbsp;{{ invoice.exp_date|date:"M d, Y"  }}</p>
    <p class="price"><strong>Días de ejecución de obra:</strong>&nbsp; &nbsp;{{ invoice.dias }}</p>
    <p class="price"><strong>Estado:</strong>&nbsp; &nbsp;  {% if invoice.aprobe == True %}
      <td>Aprobado por {{invoice.user_name}}</td> 
      {% else %}
      <td>Rechazado</td>
      {% endif %}</p>
    <div class="input-group input-group-sm">
      <form action="{% url "edificio_2:cart_project_add" invoice.id %}" method="post">
        {{ cart_project_form }}
        {% csrf_token %}
        <button type="submit" value="{% trans "Add to cart" %}" class="btn btn-default"><i class="fas fa-cart-arrow-down"></i></button>
      </form>
    </div>
    
    
  </div>
</div>
</div>
</div>
</section>





{% endblock %}