{% extends "DashBase.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load humanize %}


{% block content %}

 <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
          


            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-building"></i> Edificio: {{invoice.building_name}}
                    <small class="float-right">Fecha de creación: {{ invoice.created|date:"M d, Y"  }}</small>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  <address>
                    <strong>ProFix Maintenance Housing IT, S.A.S</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    RUC: 171918383001<br>
                    Email: info@profixgroup.io
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <address>
                    <strong>{{invoice.user_name}} </strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    RUC: {{invoice.RUC2 }}<br>
                    Email: {{invoice.email}}
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <br>
                  <b>Cotización:</b> {{ invoice.Codigo }}<br>
                  <b>Fecha de velidez:</b> {{ invoice.exp_date|date:"M d, Y"  }}<br>
                  <b>Días de ejecución de obra:</b> {{invoice.dias}}
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Cotización</th>
                      <th>Sub total</th>
                      <th>I.V.A: 12%</th>
                      <th>Valor Total</th>
                      <th>Valor anticipo a pagar</th>
                      <th>Valor pendiente a lquidar</th>
                    
                    </tr>
                    </thead>
                    <tbody>
              
                    <tr>
                      <td>{{ invoice.Codigo }}</td>
                      <td>{{ invoice.total|floatformat:2}} $</a></td>       
                      <td>{{ invoice.total_tax|floatformat:2 }} $</td> 
                       <td>{{ invoice.TOTAL|floatformat:2  }} $ </td>
                       <td>{{ invoice.anticipo_tota_cost_tax|floatformat:2  }} $</td>
                       <td>{{ invoice.pendiente|floatformat:2  }} $</td>
                       <td><form action="{% url "edificio_2:cart_project_add" invoice.id %}" method="post">
                        {{ cart_project_form }}
                        {% csrf_token %}
                        <button type="submit"  value="{% trans "Add to cart" %}" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar a Tarjeta de pago</button>
                      </form></td>
                    </tr>
                  
               
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                  <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                    plugg
                    dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                  </p>
                </div>
                <!-- /.col -->
            
                <!-- /.col -->
              </div>
              <!-- /.row -->

             
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>





{% endblock %}