
{% extends "DashBase.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load humanize %}



{% block content %}

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="callout callout-info">
          <h5><i class="fas fa-info"></i> Note:</h5>
          This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
        </div>


        <!-- Main content -->
        <div class="invoice p-3 mb-3">
          <!-- title row -->
        
          <!-- info row -->

          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-12 table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Cotización</th>
                  <th>Valor Sub total</th>
                  <th>I.V.A:12%</th>
                  <th>Total </th>
                  <th>Anticipo</th>
                  <th>Pago Pendiente</th>
                  <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                  {% for item in cart %}
                  {% with invoice=item.invoice %}
                <tr data-widget="expandable-table" aria-expanded="false" style="text-align:left;" >
                  <td>{{ invoice.Codigo }}</td>
                  <td>{{ invoice.total }}</td>
                  <td>{{ invoice.total_tax|floatformat:"2" }} $ </td>
                  <td> {{ invoice.TOTAL|floatformat:"2" }} $ </td>
                  <td> {{ invoice.anticipo_tota_cost_tax|floatformat:"2" }} $</td>
                  <td> {{ invoice.pendiente|floatformat:"2" }} $</td>
                  <td> <a href="{% url "edificio_2:cart_project_remove" invoice.id %}"><i class="fas fa-trash"></i></a>
                </tr>
                {% endwith %}
                {% endfor %}
              </tbody>
              </table>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-6">
              <p class="lead">Payment Methods:</p>
              <img src="../../dist/img/credit/visa.png" alt="Visa">
              <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
              <img src="../../dist/img/credit/american-express.png" alt="American Express">
              <img src="../../dist/img/credit/paypal2.png" alt="Paypal">

              <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                plugg
                dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
              </p>
            </div>
            <!-- /.col -->
            <div class="col-6">
              <p class="lead">Amount Due 2/22/2014</p>

           
              <div class="table-responsive">
                <table class="table">
                  
                  <tr>
                    <th>Total:</th>
                    <td>${{ cart.get_total_price|floatformat:"2" }}</td>
                  </tr>
                  <tr>
                    <th>Anticipo a cancelar:</th>
                    <td>${{ cart.get_total_anticipos|floatformat:"2" }}</td>
                  </tr>
                  <tr>
                    <th>Valor pendiente a liquidar:</th>
                    <td>${{ cart.get_total_pendientes|floatformat:"2" }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-12">
             <a type="button" href="{% url "edificio_2:project_order_create" %}" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Elegir método de pago</a>
             </a>
              <a href="{% url "edificio_2:coti_project_list" %}"  type="button" class=" btn btn-primary float-right" style="margin-right: 5px;"> 
                <i class="fas fa-download"></i> Agregar Proyectos
              </a>
            </div>
          </div>
        </div>
        <!-- /.invoice -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>

  
{% endblock %}

