
{% extends "DashBase.html" %}
{% load static %}
{% block content %}
{% load widget_tweaks %}

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            
            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-file-invoice"></i> ORDEN DE COMPRA
                  </h4>
                </div>

              </div>            
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Mantenimiento</th>
                      <th>Proyecto</th>
                      <th>Cantidad</th>
                      <th>Costo Unitario</th>
                      <th>Anticipo</th>
                      <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for item in cart %}
                     {% with product=item.product %}
                    <tr>
                      <td>{{item.product.category}}</td>
                      <td>{{ item.product.name }}</td>
                      <td>{{ item.product.quantity }}</td>
                      <td class="num">${{ item.price }}</td>
                      <td>%{{ item.product.anticipo|floatformat:"0" }}</td>
                      <td>${{ item.product.SubTotal_cost|floatformat:"2" }}</td>
                    </tr>
                    </tbody>
                    {% endwith %}
                    {% endfor %}
                  </table>
                </div>
              </div>
              


              <div class="row">
                <div class="col-6">
                  <p class="lead">Datos de Cliente:</p>
                  <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                    Llene el siguiente formulario para la realización de la orden de compra.
                    </p>
                  <div class="form-group">
                    <form action="." method="post" novalidate>
                      {% csrf_token %}
                      {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                      {% endfor %}
                    
                      {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                          {% for error in form.non_field_errors %}
                            {{ error }}
                          {% endfor %}
                        </div>
                      {% endif %}
                    
                      {% for field in form.visible_fields %}
                        <div class="form-group">
                          {{ field.label_tag }}
                    
                          {% if form.is_bound %}
                            {% if field.errors %}
                              {% render_field field class="form-control is-invalid" %}
                              {% for error in field.errors %}
                                <div class="invalid-feedback">
                                  {{ error }}
                                </div>
                              {% endfor %}
                            {% else %}
                              {% render_field field class="form-control is-valid" %}
                            {% endif %}
                          {% else %}
                            {% render_field field class="form-control" %}
                          {% endif %}
                    
                          {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                          {% endif %}
                        </div>
                      {% endfor %}  
                    <p class="lead">Formas de Pago</p>   
                    <a href="{% url "payment:payment_trans_process" %}"><button type="button" class="btn btn-secondary float-center"> <i class="far fa-credit-card"></i> Transferencia Bancaria</button> </a>
                    <button type="submit" class="btn btn-secondary float-center"><i class="far fa-credit-card"></i> Debito/Credito </button>    
                    <a href="{% url "payment:payment_check_process" %}"><button type="button" class="btn btn-secondary float-center"> <i class="far fa-credit-card"></i> Cheque</button> </a>                      
                    </form>
                  </div>               
                </div>
                
                <div class="col-6">
                  <p class="lead">Montos finales a pagar</p>

                  <div class="table-responsive">
                    <table class="table">
                      
                      <tr>
                        <th style="width:50%">Subtotal:</th>
                        <td>${{ cart.total2|floatformat:"2" }}</td>
                      </tr>
                      <tr>
                        <th>I.V.A (12%)</th>
                        <td>${{ cart.tax_price|floatformat:"2" }}</td>
                      </tr>
                      <tr>
                        {% if cart.coupon %}
                        <th>Descuento "{{ cart.coupon.code }}" ({{ cart.coupon.discount }})% :</th>
                        <td class = "num neg">
                          - ${{cart.get_discount|floatformat:"2"}}</td>
                        
                        {% endif %}
                      
                      </tr>
                      
                      <tr>
                        <th>Total:</th>
                        <td>${{ cart.get_total_price_after_discount|floatformat:"2" }}</td>
                      </tr>
                    </table>
        
                        <p class="text-center">
                          <a href="{% url "Proyectos:product_list" %}" class="btn btn-primary">AGREGAR PROYECTOS</a>
                          <a href="{% url "orders:order_create" %}" class="btn btn-success">PAGAR</a>
                        </p>
                  </div>
                </div>
            
                
              </div>           
            </div>
          </div>
        </div>
      </div>

      <div class="callout callout-info">
        <h5><i class="fas fa-info"></i> Términos & condiciones:</h5>
        This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
      </div>
    </section>

  </div>
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
</div>

<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' % }"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'dist/js/demo.js' %}"></script>

</body>
</html>

{% endblock %}