{% extends "base.html" %}



{% block content %}
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card " style= "height: 800px;">
			<div class="card-header">

  <h1>Reinicio de Contraseña</h1>
  {% if validlink %}
    <p>Porfavor ingrese su nueva contraseña:</p>
    <form action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <button type="submit" value="Change my password" class="btn btn-outline-secondary">Cambiar mi contraseña</button> 
    </form>
  {% else %}
    <p>El link para actualizar su contraseña expiró, Posiblemente porque ya fue usado. Porfavor solicite de nuebo reinicio de contraseña.</p>
  {% endif %}

  </div>
</div>
</div>
</div>
{% endblock %}