{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
  <h1>Olvidó su contraseña?</h1>
  <p>Ingrese su correo electronico registrado para obtener su nueva contraseña.</p>
  <form action="." method="post">
    {{ form.as_p }}
    <p><input type="submit" value="Send e-mail"></p>
    {% csrf_token %}
  </form>
  </div>
</div>
</div>
{% endblock %}s