{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">

  <h1>Reinicio de contraseña</h1>
  <p>hemos enviado un E-mail al correo electrónico registrado en su cuenta, con instrucciones para que actualice su contraseña.</p>
  <p>Si no ha recibido ningun correo electrónico, porfavor revise si su cuenta de correo electónico es el registrado en su cuenta ProFix IT.</p>
  <p>Más información: info@profixgroup.io</p>

</div>
</div>
</div>
</div>
{% endblock %}