{% extends "DashBase.html" %}
{% load widget_tweaks %}

{% block title %}Pay by credit card{% endblock %}

{% block content %}
  <h1>Pay by credit card</h1>
  <form action="." method="post" novalidate>
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}
  
    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}
  
    {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field.label_tag }}
  
        {% if form.is_bound %}
          {% if field.errors %}
            {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% else %}
            {% render_field field class="form-control is-valid" %}
          {% endif %}
        {% else %}
          {% render_field field class="form-control" %}
        {% endif %}
  
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
    {% endfor %}  
  <p class="lead">Formas de Pago</p>   
 <a href="{% url 'edificio_2:process'%}"> <button type="submit" class="btn btn-secondary float-center"><i class="far fa-credit-card"></i> Debito/Credito </button>  </a>                   
  </form>
{% endblock %}